/*----------WRAPPER---------*/
body {
	background-color: #E6E6E6;
	font-family: 'Droid Sans', sans-serif;
	margin: 10px 80px;
	border: 1px solid black;
	min-width: 860px;
}
#container {
	background-color: #FFFFFF;
}

/*---------HEADER-----------*/
#header {
	background-color: #DE0000;/*Red*/
	padding-top: 10px;
	box-shadow: 0px 4px 0px 0px #BF0000;
}
#header_text {
	float: left;
	color: #fdb53a; /*yellow*/
	text-shadow: 0 2px rgba(0, 0, 0, 0.3);
}
#header_text h1 {
	margin: 0px;
}
#header_text h2 {
	margin: 10px 0px 0px 20px;
}

#logo {
	float: left;
	padding-left: 5px;
	padding-right: 25px;
	margin-bottom: -40px;
}

/*-------------------CONTACT-------------*/
#contact {
	background-color: #E62E2E;
	border: 2px solid #BF0000;
	color: #660000;
	float: right;
	margin-right: 25px;
	padding: 10px;
}
#contact a {
	color: #9B0000; /*Red*/
}
#contact ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#contact p {
	margin-top: 0px;
}

/*-------------------NAV-------------*/
#nav {
	clear: both;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0px;
	text-align: center;
}

#nav li {
	display:inline-block;
}

#nav a {
	background-color: #fdc058; /*yellow*/
	margin-right: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 3px 0px 0px #e29003;
	color: #BF0000; /*Red*/
	text-decoration: none;
}

#nav a:hover {
	background-color: #fdb53a;
}
#nav .active {
	background-color: #fdb53a;
	text-decoration: underline;
}
#nav a:active {
	box-shadow: 0px 1px 0px 0px #e29003;
}

/*---------------TABLE------------*/
.table_header {
	text-align: center;
}
table {
	border: 1px solid black;
	border-collapse: collapse; 
	border-spacing: 0;
	margin: 0 auto;
	table-layout: fixed;
}

td, th {
	border: 1px solid #CCC; 
	height: 30px;
}

th {
	background: #DFDFDF;
	font-weight: bold;
}

td {
	background: #FAFAFA;
}

tr:nth-child(even) td {
	background: #F1F1F1;
}   

tr:nth-child(odd) td {
	background: #FEFEFE;
}

.name {
	padding-left: 0.5em;
	width: 200px;
}

.descr {
	padding-left: 0.5em;
	width: 500px;
}

.price {
	text-align: center;
	width: 60px;
}

/* -----------CONTENT-------------*/
#content {
	color: #333;
	padding: 0.5em 2em;
	height: 100%;
}

#verbouwing {
	padding-top: 5em;
}